*{
    margin: 0;
    padding: 0;

}

h3{
    color: white;
    background-color:rgba(0, 0, 0, 0.4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px 0px 0px 10px;
}

a{
    text-decoration: underline;
    color:rgba(30, 9, 78, 0.9);
}

a:hover{
    color:purple;
}
body{
    min-height: 100vh;
    background-image: url('images/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
    margin-top: 15px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width:100%;
}

#menu_icon{
    width: 30px;
    height: 30px;
}

#close_icon{
    width: 30px;
    height: 30px;
}


.mainContainer{
    width: 100%;
    display: flex;
}

.contentBar{
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 10px 10px 25px 12px rgb(82, 85, 85);
    margin-top: 25px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 30%;
}

.hero{
    padding: 10px;
    color: white;
    height:30vh;
    background-color: rgba(0, 2, 35, 0.6);
    box-shadow: 5px 5px 25px 8px rgb(82, 85, 85);
}

.content{
    margin-top: 5px;
    width: 65%;
    padding: 25px;
}

.contentBody{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
    background-color: rgba(231, 226, 226, 0.9);
}

footer{
    margin-top: 25px;
    color: white;
    text-align: center;
    height:15vh;
    background-color: rgba(0, 0, 0, 0.6);
}

@media(max-width: 600px){
    .hideOnMobile{
        display: none;
    }
    .contentBar{
        display: none;
    }
    .content{
        width: 100%;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}