body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3d3d3; /* Light grayish background */
    margin: 0;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust size if needed */
}

.label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.scorebox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.incorrect{
    display:flex;
    width: 40%;
    text-align: center;
    border: 1px solid #333;
    padding: 5px;
    background-color: red;
    border-radius: 5px;
}

.correct{
    display:flex;
    width: 40%;
    text-align: center;
    border: 1px solid #333;
    padding: 5px;
    background-color: lightgreen;
    border-radius: 5px;
}

.flashcard {
    width: 100%;
    margin-top: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    font-size: 16px;
}

div > button {
    display: inline-block;
    margin: 5px;
}

.feedback, .def, .ex {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}